@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #c4bebe;
}

.header{
    background-color: #1f4daf;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #0066ff;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #024d84;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #0f651e;
    transform: scale(1.1);
}


.card-container {
    width: 90%;
    margin: 40px auto;
    display: flex;
    align-items: stretch;
    border-radius: 8px;
   
    overflow: hidden;
    background-color: #1f4daf;
}

.card-text {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
}

.card-separator {
    width: 10%;
}

.card-image-wrapper {
    width: 30%;
    padding: 0;
}

.card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.filacard {
    width: 90%; 
    margin: 40px auto; 
    display: flex; 
    justify-content: space-between; 
}

.cardsola {
    width: 30%; 
    padding: 10px;
    border-radius: 6px;
   background-color:#1f4daf; 
    text-align: center;
}

.cardsola1  {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 6px;
   background-color: #1f4daf;
   margin-left: 30%;
}

.cardsola1 img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #1f4daf;
}

.cardtextounico {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #1f4daf;
}

.cardsola3 {
    width: 30%; 
    padding: 10px;
    border-radius: 6px;
   background-color: #1f4daf;
    text-align: center;
}

.cardsola3 img {
    width: 100%; 
    height: auto;
    max-height: 150px; 
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #1f4daf;
}